################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwapIt/FileContentIndex/dec9c1c2-8ea1-4ce1-986f-22a90ba765c2.vsidx
